# Geopandas basics

## Intro
Gentle introduction for the first steps using Geopandas.
Learn how to:
- Read and write Geodataframes
- Work with coordinate and projetion systems
- Perform basic calculations (area and length)
- Filter the dataset

## References

***Please refer to notebook 1.0 - Vector - Retrieve data to know how to get the data used here.***

- [geopandas](https://geopandas.org/en/stable/docs.html)
- [IBGE](https://www.ibge.gov.br/geociencias/organizacao-do-territorio/estrutura-territorial/)

# Setup

In [1]:
import pandas as pd
import geopandas as gpd

# Read and write

### Geodata formats (shp, geojson, gpkg)

In [20]:
df_rain_stations = gpd.read_file('../data/vector/Estacoes_Fluviometricas_e_Pluviometricas_da_Rede.gpkg')

In [21]:
df_estados = gpd.read_file('../data/vector/BR_UF_2022.zip')

#### Save as csv file

In [27]:
df_estados.to_csv('../data/tmp/ibge_uf_br_2022.csv',index=False)

### Text file (csv, excel, txt)

In [28]:
estados = pd.read_csv('../data/tmp/ibge_uf_br_2022.csv')

#transform text to geometry data type
estados['geometry'] = gpd.GeoSeries.from_wkt(estados['geometry'])

# convert pandas dataframe to geopandas GeoDataFrame
estados = gpd.GeoDataFrame(estados, geometry='geometry')

# set coordinate system to Sirgas2000
estados = estados.set_crs('EPSG:4674')

#### Save as shapefile

In [ ]:
estados.to_file('../data/tmp/estados_br.shp')

### Geodatabase (postgis)

In [4]:
# from sqlalchemy import create_engine  
# db_connection_url
# con = create_engine(db_connection_url)  
# sql = "SELECT * FROM schema.table"
# df = gpd.read_postgis(sql, con)

# Exploring GeoDataFrame

### Coordinate systems
- A Coordinate reference system (CRS) defines, with the help of coordinates, how the two-dimensional, projected map is related to real locations on the earth.
- Coordinates from a geographic coordinate system is given in degrees (decimal degrees or degrees/minutes/seconds)

In [5]:
df_rain_stations.crs

<Geographic 2D CRS: EPSG:4674>
Name: SIRGAS 2000
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: Latin America - Central America and South America - onshore and offshore. Brazil - onshore and offshore.
- bounds: (-122.19, -59.87, -25.28, 32.72)
Datum: Sistema de Referencia Geocentrico para las AmericaS 2000
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

### Projections and transformations
- In order to perform spatial analysis it is fundamental to ensure that all your data is on the same projection or coordinate system.
- It is also important remember that to take measurements such as area or lenght you must project the data into a metric projection.
- When you project a polygon into a metric system there will be distortions.
- To choose the right projection can be trick.  You should consider your data bounds. For data that cover large areas (continental level) you can use any equal area projection in units of meters that covers the world such as Albers or Lambert.
- You can find further information at [EPSG.io](https://epsg.io/)
- For large areas in Brazil it is recomended to use a custom Albers projection as given by [IBGE](https://biblioteca.ibge.gov.br/visualizacao/livros/liv101998.pdf)

#### Using EPGS code

In [9]:
# project to Lambert equal area: used to perform area calculations at continental level
estados.to_crs('EPSG:3035')
# Or Albers
estados.to_crs('EPSG:9822')
# or WGS84-EASE (https://epsg.io/6933)
estados.to_crs('EPSG:6933')

,gid,uf,nm_regiao,area_km2,area_ha,cd_uf,nm_uf,geom
0,1,AC,NORTE,1.641345e+05,1.641345e+07,12.0,ACRE,"MULTIPOLYGON (((-7061109.655 -933326.872, -705..."
1,2,AL,NORDESTE,2.779525e+04,2.779525e+06,27.0,ALAGOAS,"MULTIPOLYGON (((-3422130.196 -1120551.955, -34..."
2,3,AM,NORTE,1.559311e+06,1.559311e+08,13.0,AMAZONAS,"MULTIPOLYGON (((-6496043.840 258884.572, -6495..."
3,4,AP,NORTE,1.427889e+05,1.427889e+07,16.0,AMAPÁ,"MULTIPOLYGON (((-4841799.795 242471.639, -4841..."
4,5,BA,NORDESTE,5.646711e+05,5.646711e+07,29.0,BAHIA,"MULTIPOLYGON (((-3729661.586 -2264848.001, -37..."
5,6,CE,NORDESTE,1.488190e+05,1.488190e+07,23.0,CEARÁ,"MULTIPOLYGON (((-3907421.436 -355092.937, -390..."
6,7,DF,CENTRO-OESTE,5.787451e+03,5.787451e+05,53.0,DISTRITO FEDERAL,"MULTIPOLYGON (((-4640867.346 -1954009.402, -46..."
7,8,ES,SUDESTE,4.609635e+04,4.609635e+06,32.0,ESPÍRITO SANTO,"MULTIPOLYGON (((-3897654.486 -2575827.738, -38..."
8,9,GO,CENTRO-OESTE,3.401177e+05,3.401177e+07,52.0,GOIÁS,"MULTIPOLYGON (((-4839765.959 -1572414.420, -48..."
9,10,MA,NORDESTE,3.318579e+05,3.318579e+07,21.0,MARANHÃO,"MULTIPOLYGON (((-4245312.364 -305160.341, -424..."
10,11,MG,SUDESTE,5.865100e+05,5.865100e+07,31.0,MINAS GERAIS,"MULTIPOLYGON (((-4265643.276 -1799053.794, -42..."
11,12,MS,CENTRO-OESTE,3.571563e+05,3.571563e+07,50.0,MATO GROSSO DO SUL,"MULTIPOLYGON (((-5413237.536 -2159066.842, -54..."
12,13,MT,CENTRO-OESTE,9.034604e+05,9.034604e+07,51.0,MATO GROSSO,"MULTIPOLYGON (((-5609253.801 -935039.402, -560..."
13,14,PA,NORTE,1.248003e+06,1.248003e+08,15.0,PARÁ,"MULTIPOLYGON (((-4444249.421 -139646.328, -444..."
14,15,PB,NORDESTE,5.649461e+04,5.649461e+06,25.0,PARAÍBA,"MULTIPOLYGON (((-3363459.694 -888847.238, -336..."
15,16,PE,NORDESTE,9.815655e+04,9.815655e+06,26.0,PERNAMBUCO,"MULTIPOLYGON (((-3592532.762 -925593.744, -359..."
16,17,PI,NORDESTE,2.517073e+05,2.517073e+07,22.0,PIAUÍ,"MULTIPOLYGON (((-4027920.738 -357512.479, -402..."
17,18,PR,SUL,1.992734e+05,1.992734e+07,41.0,PARANÁ,"MULTIPOLYGON (((-5022292.073 -2803663.919, -50..."
18,19,RJ,SUDESTE,4.379830e+04,4.379830e+06,33.0,RIO DE JANEIRO,"MULTIPOLYGON (((-4314761.814 -2900161.019, -43..."
19,21,RO,NORTE,2.375399e+05,2.375399e+07,11.0,RONDÔNIA,"MULTIPOLYGON (((-6110206.756 -1014419.534, -60..."
20,22,RR,NORTE,2.243544e+05,2.243544e+07,14.0,RORAIMA,"MULTIPOLYGON (((-5808522.949 670670.279, -5808..."
21,23,RS,SUL,2.817073e+05,2.817073e+07,43.0,RIO GRANDE DO SUL,"MULTIPOLYGON (((-5116844.434 -3339623.831, -51..."
22,24,SC,SUL,9.570774e+04,9.570774e+06,42.0,SANTA CATARINA,"MULTIPOLYGON (((-4710600.526 -3503785.599, -47..."
23,25,SE,NORDESTE,2.191757e+04,2.191757e+06,28.0,SERGIPE,"MULTIPOLYGON (((-3665749.771 -1209707.471, -36..."
24,26,SP,SUDESTE,2.482438e+05,2.482438e+07,35.0,SÃO PAULO,"MULTIPOLYGON (((-4631509.015 -3120373.546, -46..."
25,27,TO,NORTE,2.777854e+05,2.777854e+07,17.0,TOCANTINS,"MULTIPOLYGON (((-4665410.892 -659180.056, -466..."
26,20,RN,NORDESTE,5.284432e+04,5.284432e+06,24.0,RIO GRANDE DO NORTE,"MULTIPOLYGON (((-3584473.504 -628905.133, -358..."

In [46]:
df_rain_stations = df_rain_stations.to_crs('EPSG:9822')

#### Using [Proj4](https://pygis.io/docs/d_understand_crs_codes.html) string 
Multiple parameters are needed in the string to describe a CRS. To separate the parameters in the string and identify each individual parameter, each parameter begins with a + sign.

In [29]:
# project using Projeção de Albers - IBGE. (https://biblioteca.ibge.gov.br/visualizacao/livros/liv101998.pdf)
estados = estados.to_crs("+proj=aea +lat_0=-12 +lon_0=-54 +lat_1=-2 +lat_2=-22 +x_0=5000000 +y_0=10000000 +ellps=GRS80 +units=m +no_defs")

## Field Calculations

### Area

In [30]:
estados['area_calc'] = estados.area/1e6

In [33]:
estados['area_diff'] = estados['AREA_KM2'] - estados['area_calc']

In [35]:
estados.describe()

           CD_UF      AREA_KM2     area_calc  area_diff
count  27.000000  2.700000e+01  2.700000e+01  27.000000
mean   29.111111  3.152007e+05  3.152007e+05   0.000093
std    13.024631  3.751304e+05  3.751304e+05   0.000279
min    11.000000  5.760784e+03  5.760784e+03  -0.000412
25%    19.000000  7.609897e+04  7.609897e+04  -0.000130
50%    27.000000  2.236445e+05  2.236445e+05   0.000119
75%    38.000000  3.349472e+05  3.349472e+05   0.000348
max    53.000000  1.559256e+06  1.559256e+06   0.000487


---
**Challenge 1!**

Compare the area of Brazilian states giving by the original dataframe ('AREA_KM2') with the area calculated with other projections (equal area projections: Albers, Peters, Lambert) 

---

### Length and perimeter

In [51]:
estados['perimeter'] = estados.length/1e6

In [52]:
estados.head()

,CD_UF,NM_UF,SIGLA_UF,NM_REGIAO,AREA_KM2,geometry,area_calc,area_diff,perimeter
0,12,Acre,AC,Norte,164173.429,"POLYGON ((3408136.564 10070256.331, 3408045.67...",1.641734e+05,-0.000126,2.921352
1,13,Amazonas,AM,Norte,1559255.881,"POLYGON ((4693972.328 10979068.929, 4693433.33...",1.559256e+06,0.000292,8.655909
2,15,Pará,PA,Norte,1245870.704,"MULTIPOLYGON (((5562526.618 11310680.315, 5562...",1.245871e+06,0.000119,7.762910
3,16,Amapá,AP,Norte,142470.762,"MULTIPOLYGON (((5330945.042 11330192.104, 5329...",1.424708e+05,-0.000237,2.554194
4,17,Tocantins,TO,Norte,277423.627,"POLYGON ((5614125.527 9859759.543, 5614110.149...",2.774236e+05,0.000263,4.629828

### Distance

In [48]:
df_rain_stations[df_rain_stations['OBJECTID'] == 1].reset_index().distance(
    df_rain_stations[df_rain_stations['OBJECTID'] == 2].reset_index())

0    77495.287974
dtype: float64

## Query data

### Slice the DataFrame

In [57]:
#using .iloc
df_estados.iloc[0:1,:]

,CD_UF,NM_UF,SIGLA_UF,NM_REGIAO,AREA_KM2,geometry
0,12,Acre,AC,Norte,164173.429,"POLYGON ((-68.79282 -10.99957, -68.79367 -10.9..."

In [61]:
# using .loc
df_estados.loc[:0,['NM_UF', 'AREA_KM2']]

  NM_UF    AREA_KM2
0  Acre  164173.429

### Filter

In [63]:
df_estados[df_estados['SIGLA_UF'] == 'MG']

,CD_UF,NM_UF,SIGLA_UF,NM_REGIAO,AREA_KM2,geometry
14,31,Minas Gerais,MG,Sudeste\n,586513.983,"POLYGON ((-42.51148 -14.98627, -42.50964 -14.9..."

In [64]:

df_estados[df_estados['AREA_KM2']<10000]

,CD_UF,NM_UF,SIGLA_UF,NM_REGIAO,AREA_KM2,geometry
24,53,Distrito Federal,DF,Centro-oeste\n,5760.784,"POLYGON ((-48.01472 -16.04996, -48.01573 -16.0..."

In [67]:
df_estados[df_estados['AREA_KM2'].between(1e4,1e5)]

,CD_UF,NM_UF,SIGLA_UF,NM_REGIAO,AREA_KM2,geometry
8,24,Rio Grande do Norte,RN,Nordeste\n,52809.599,"MULTIPOLYGON (((-35.18728 -5.78987, -35.18707 ..."
9,25,Paraíba,PB,Nordeste\n,56467.242,"MULTIPOLYGON (((-34.79580 -7.17500, -34.79578 ..."
10,26,Pernambuco,PE,Nordeste\n,98067.877,"MULTIPOLYGON (((-35.04823 -8.60936, -35.04756 ..."
11,27,Alagoas,AL,Nordeste\n,27830.661,"MULTIPOLYGON (((-35.28700 -9.14489, -35.28699 ..."
12,28,Sergipe,SE,Nordeste\n,21938.188,"MULTIPOLYGON (((-37.01203 -10.92784, -37.01267..."
15,32,Espírito Santo,ES,Sudeste\n,46074.448,"MULTIPOLYGON (((-40.27883 -20.33437, -40.27883..."
16,33,Rio de Janeiro,RJ,Sudeste\n,43750.425,"MULTIPOLYGON (((-42.00612 -22.88563, -42.00634..."
19,42,Santa Catarina,SC,Sul\n,95730.690,"MULTIPOLYGON (((-49.23653 -26.03711, -49.23650..."

In [79]:
df_estados[df_estados['SIGLA_UF'].isin(['RN', 'SP'])]

,CD_UF,NM_UF,SIGLA_UF,NM_REGIAO,AREA_KM2,geometry
8,24,Rio Grande do Norte,RN,Nordeste\n,52809.599,"MULTIPOLYGON (((-35.18728 -5.78987, -35.18707 ..."
17,35,São Paulo,SP,Sudeste\n,248219.485,"MULTIPOLYGON (((-46.47312 -22.70498, -46.47289..."

### Filter by multiple columns

In [75]:
mask = (df_estados['NM_REGIAO'] == 'Nordeste\n') & (df_estados['AREA_KM2']>1e5)

In [76]:
df_estados[mask]

,CD_UF,NM_UF,SIGLA_UF,NM_REGIAO,AREA_KM2,geometry
5,21,Maranhão,MA,Nordeste\n,329651.496,"MULTIPOLYGON (((-44.58680 -2.23341, -44.58696 ..."
6,22,Piauí,PI,Nordeste\n,251755.481,"POLYGON ((-42.47034 -3.48377, -42.46126 -3.484..."
7,23,Ceará,CE,Nordeste\n,148894.447,"POLYGON ((-37.87162 -4.36640, -37.87109 -4.367..."
13,29,Bahia,BA,Nordeste\n,564760.429,"MULTIPOLYGON (((-39.26447 -8.61413, -39.26341 ..."

### Reverse filtering

In [80]:
df_estados[~mask]

,CD_UF,NM_UF,SIGLA_UF,NM_REGIAO,AREA_KM2,geometry
0,12,Acre,AC,Norte,164173.429,"POLYGON ((-68.79282 -10.99957, -68.79367 -10.9..."
1,13,Amazonas,AM,Norte,1559255.881,"POLYGON ((-56.76292 -3.23221, -56.76789 -3.242..."
2,15,Pará,PA,Norte,1245870.704,"MULTIPOLYGON (((-48.97548 -0.19834, -48.97487 ..."
3,16,Amapá,AP,Norte,142470.762,"MULTIPOLYGON (((-51.04561 -0.05088, -51.05422 ..."
4,17,Tocantins,TO,Norte,277423.627,"POLYGON ((-48.24830 -13.19239, -48.24844 -13.1..."
8,24,Rio Grande do Norte,RN,Nordeste\n,52809.599,"MULTIPOLYGON (((-35.18728 -5.78987, -35.18707 ..."
9,25,Paraíba,PB,Nordeste\n,56467.242,"MULTIPOLYGON (((-34.79580 -7.17500, -34.79578 ..."
10,26,Pernambuco,PE,Nordeste\n,98067.877,"MULTIPOLYGON (((-35.04823 -8.60936, -35.04756 ..."
11,27,Alagoas,AL,Nordeste\n,27830.661,"MULTIPOLYGON (((-35.28700 -9.14489, -35.28699 ..."
12,28,Sergipe,SE,Nordeste\n,21938.188,"MULTIPOLYGON (((-37.01203 -10.92784, -37.01267..."
14,31,Minas Gerais,MG,Sudeste\n,586513.983,"POLYGON ((-42.51148 -14.98627, -42.50964 -14.9..."
15,32,Espírito Santo,ES,Sudeste\n,46074.448,"MULTIPOLYGON (((-40.27883 -20.33437, -40.27883..."
16,33,Rio de Janeiro,RJ,Sudeste\n,43750.425,"MULTIPOLYGON (((-42.00612 -22.88563, -42.00634..."
17,35,São Paulo,SP,Sudeste\n,248219.485,"MULTIPOLYGON (((-46.47312 -22.70498, -46.47289..."
18,41,Paraná,PR,Sul\n,199298.981,"MULTIPOLYGON (((-48.30974 -25.49328, -48.27691..."
19,42,Santa Catarina,SC,Sul\n,95730.690,"MULTIPOLYGON (((-49.23653 -26.03711, -49.23650..."
20,43,Rio Grande do Sul,RS,Sul\n,281707.151,"MULTIPOLYGON (((-51.71873 -31.85463, -51.71941..."
21,50,Mato Grosso do Sul,MS,Centro-oeste\n,357142.082,"POLYGON ((-54.68379 -23.83050, -54.68569 -23.8..."
22,51,Mato Grosso,MT,Centro-oeste\n,903208.361,"POLYGON ((-56.07160 -17.17062, -56.07246 -17.1..."
23,52,Goiás,GO,Centro-oeste\n,340242.859,"POLYGON ((-47.33502 -15.58733, -47.33512 -15.5..."
24,53,Distrito Federal,DF,Centro-oeste\n,5760.784,"POLYGON ((-48.01472 -16.04996, -48.01573 -16.0..."
25,11,Rondônia,RO,Norte,237754.172,"POLYGON ((-62.60021 -13.01675, -62.59999 -13.0..."
26,14,Roraima,RR,Norte,223644.530,"POLYGON ((-60.12972 4.50843, -60.12960 4.50826..."


---
**Challenge 2!**

Filter df_estados by the highest area_diff calculated on Challenge 1.

Tip: you can use the .sort_values() function

---